@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SF-Pro-Text-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'STHeitiSC-Light';
  src: url('_styles/fonts/stheitisc.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('./fonts/SF-Pro-Text-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/PlayfairDisplay-Bold.ttf') format('opentype');
  font-style: bold;
}

@font-face {
  font-family: 'Helvetica Neue-t';
  src: url('./fonts/HelveticaNeueCyr-Thin.ttf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueCyr-Bold.ttf') format('opentype');
  font-style: bold;
}
