$color-black: #000;
$color-white: #fff;
$color-gray: #888;
$color-dark-gray: #333;
$color-taiga: #0c6642;
$color-hunter: #1e342b;
$color-bush: #0f3723;
$color-marine: #1e1e34;
$color-maroon: #381f2b;
$color-autumn: #ff7d50;
$color-teal: #00595e;
$color-brown: #63322b;
$color-grey: #f2f2f2;
$color-light-blue: #a1bcc6;
$color-light-green: #c7d1bc;
$color-light-sand: #f8e1c2;
$color-light-brown: #af745b;
$color-storm-gray: #71717f;
$color-label-gray: #888;
$color-error-red: #ff5050;
$color-french-gray: #cacacf;
$color-bush: #164431;

$media-mobile-width: 576px;
$media-tablet-width: 767px;
$media-large-tablet: 1024px;
$media-small-mobile-width: 375px;
$media-small-desktop-width: 992px;
$media-bootstrap-small-desktop: 1200px;

$header-height: 100px;
$header-height-mobile: 80px;

/* z-indexes */
$background-level: 0;
$content-level: 1;
